aside.profile-sidebar
	a(href="/").profile-sidebar__logo
		img.profile-sidebar__logo-img(src="./assets/images/logo.svg" width="195" height="39" alt="logo")
		span.profile-sidebar__logo-version v0.1

	.profile-sidebar__icon-menu
		span
		span
		span

	ul.profile-sidebar__menu
		li.profile-sidebar__menu-item
			a(href="/").profile-sidebar__menu-link
				img(src="./assets/images/icons/dashboard.svg" width="24" height="24" alt="Dashboard").profile-sidebar__menu-icon
				span.profile-sidebar__menu-title Dashboard
				img.profile-sidebar__menu-arrow(src="./assets/images/icons/arrow-right.svg" width="6" height="10" alt="Arrow right")

		li.profile-sidebar__menu-item
			a(href="/").profile-sidebar__menu-link
				img(src="./assets/images/icons/product.svg" width="24" height="24" alt="Product").profile-sidebar__menu-icon
				span.profile-sidebar__menu-title Product
				img.profile-sidebar__menu-arrow(src="./assets/images/icons/arrow-right.svg" width="6" height="10" alt="Arrow right")

		li.profile-sidebar__menu-item
			a(href="/").profile-sidebar__menu-link.profile-sidebar__menu-link_active
				img(src="./assets/images/icons/customers.svg" width="24" height="24" alt="Customers").profile-sidebar__menu-icon
				span.profile-sidebar__menu-title Customers
				img.profile-sidebar__menu-arrow(src="./assets/images/icons/arrow-right.svg" width="6" height="10" alt="Arrow right")

		li.profile-sidebar__menu-item
			a(href="/").profile-sidebar__menu-link
				img(src="./assets/images/icons/income.svg" width="24" height="24" alt="Income").profile-sidebar__menu-icon
				span.profile-sidebar__menu-title Income
				img.profile-sidebar__menu-arrow(src="./assets/images/icons/arrow-right.svg" width="6" height="10" alt="Arrow right")

		li.profile-sidebar__menu-item
			a(href="/").profile-sidebar__menu-link
				img(src="./assets/images/icons/promote.svg" width="24" height="24" alt="Promote").profile-sidebar__menu-icon
				span.profile-sidebar__menu-title Promote
				img.profile-sidebar__menu-arrow(src="./assets/images/icons/arrow-right.svg" width="6" height="10" alt="Arrow right")

		li.profile-sidebar__menu-item
			a(href="/").profile-sidebar__menu-link
				img(src="./assets/images/icons/help.svg" width="24" height="24" alt="Help").profile-sidebar__menu-icon
				span.profile-sidebar__menu-title Help
				img.profile-sidebar__menu-arrow(src="./assets/images/icons/arrow-right.svg" width="6" height="10" alt="Arrow right")

	.profile-sidebar__user
		img(src="./assets/images/avatar.png" width="42" height="42" alt="Avatar").profile-sidebar__user-avatar

		.profile-sidebar__user-info
			.profile-sidebar__user-name Evano
			.profile-sidebar__user-position Project Manager
